<footer>
  <a href="https://github.com/andrereus">
    <i class="fab fa-github"></i>
  </a>
  <a href="https://dev.to/andrereus">
    <i class="fab fa-dev"></i>
  </a>
  <a href="https://soundcloud.com/amrdrew">
    <i class="fab fa-soundcloud"></i>
  </a>
  <a href="https://www.behance.net/andrereus">
    <i class="fab fa-behance"></i>
  </a>
  <a href="https://dribbble.com/andrereus">
    <i class="fab fa-dribbble"></i>
  </a>
</footer>
<style>
  footer {
    margin-bottom: 20px;
  }
  a {
    color: #a0a0a0;
    font-size: 22px;
    padding: 2px;
  }
  a:hover {
    color: #000;
  }
</style>
