<footer class="mx-auto max-w-3xl px-5 pt-10 pb-16">
  <a href="https://github.com/andrereus">
    <i class="fab fa-github text-2xl p-2 text-gray-400 hover:text-gray-800"></i>
  </a>
  <a href="https://dev.to/andrereus">
    <i class="fab fa-dev text-2xl p-2 text-gray-400 hover:text-gray-800"></i>
  </a>
  <a href="https://soundcloud.com/amrdrew">
    <i class="fab fa-soundcloud text-2xl p-2 text-gray-400 hover:text-gray-800">
    </i>
  </a>
  <a href="https://www.behance.net/andrereus">
    <i class="fab fa-behance text-2xl p-2 text-gray-400 hover:text-gray-800">
    </i>
  </a>
  <a href="https://dribbble.com/andrereus">
    <i class="fab fa-dribbble text-2xl p-2 text-gray-400 hover:text-gray-800">
    </i>
  </a>
</footer>
<style>
  footer {
    animation-name: flyingFooter;
    animation-duration: 0.3s;
  }
  @keyframes flyingFooter {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }

    100% {
      opacity: 1;
      transform: none;
    }
  }
</style>
