---
import { SITE_TITLE } from "../config";
---

<header>
  <div class="mx-auto max-w-3xl px-5 py-28">
    <h2 class="text-4xl">
      {SITE_TITLE}
    </h2>
    <p>Website work in progress</p>
  </div>
</header>
<style>
  header {
    color: #fff;
    background: #34495e;
    background: linear-gradient(
      0deg,
      #9b59b6,
      #4aa3df,
      #1abc9c,
      #2ecc71,
      #f1c40f,
      #e67e22,
      #e74c3c
    );
    background-size: 1400% 1400%;
    animation: Animation 30s ease infinite;
  }
  @keyframes Animation {
    0% {
      background-position: 50% 0%;
    }
    50% {
      background-position: 50% 100%;
    }
    100% {
      background-position: 50% 0%;
    }
  }
  div {
    animation-name: flyingHeader;
    animation-duration: 0.3s;
  }
  @keyframes flyingHeader {
    0% {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }

    100% {
      opacity: 1;
      transform: none;
    }
  }
</style>
